/* General styles */
/* Coded by Justin Leach, 30091487 */
@import 'fonts.css';

body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
     color: #fff;
     font-size: 70px;
     font-weight: lighter;
}

h3 {
    width: 100%;
    margin-top: 0;
    font-size: 30px;
    text-align: center;
}

h3::first-letter{
    color: rgb(0, 17, 255);
}

h1, h2, h3, h4 ,h5 ,h6 {
    font-weight: normal;
}

/* Header */
header {
    position: relative;
}

header nav {
    position: fixed;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    z-index: 999; /* Opacity of the aw-header-text (To apply for all the items of the nav)*/
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header nav.aw-nav-fixed {
    margin: 0;
    background: rgba(0, 0, 0, .5);
}

header nav ul.aw-navigation{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

header nav ul.aw-navigation li a {
    display: block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 16px;
}

header nav ul.aw-navigation li:last-child a {
    padding-right: 0;
}

header nav ul.aw-navigation li::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background-color: #fff;
    -webkit-transition: all .80s ease;
    transition: all .80s ease;
}

header nav ul.aw-navigation li:hover::after {
    width: 100%;
    opacity: 1;
}

header nav .aw-nav-toggle {
    display: none;
}

.aw-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .35)
}

.aw-main-banner {
    display: block;
    width: 100%;
}

/* Arrow */
.aw-header-text .aw-arrow {
    display: inline-block;
    padding: 20px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;

}
.aw-header-text .aw-arrow:hover {
    opacity: .25;
}

#aw-arrow-header {
    position: absolute;
    bottom: 100px;
}

/* Logo */
.aw-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
    color: #fff;
    font-size: 26px;
}

.aw-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    box-sizing: border-box;
}

.aw-align-center {
    align-items: center;
}

/* Sections */

.aw-section {
    padding: 150px 0;
}

/* About us */
#aw-about .aw-colum {
    width: 48%;
    margin-top: 25px;
    margin-top:center;
    text-align: center;
}

#aw-about i {
    font-size: 45px;
    color: #dca453;
}

span.aw-backdrop-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    color: #fff;
    font-size: 16px;
    border: solid 1px #fff;
    border-radius: 100%;
    cursor: pointer;
}

/* team.aw-team */

#aw-team.aw-team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aw-team {
    position: relative;
    max-width: 500px;
}

.aw-team ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    overflow: hidden; /* Hide the others items li */
}

.aw-team ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    
}

.aw-team ul li .aw-user-data img {
    border-radius: 100%;
}

.aw-team ul li .aw-user-name {
    display: block;
    margin: 15px 0;
}

/* Direct child of this parent of p */
.aw-team ul li > p {
    font-style: italic;
    font-size: 20px;
    color: #ccc;
    text-align: center;
}

.aw-team .aw-arrow {
    position: absolute;
    top: 50%;
    display: inline-block;
    padding: 20px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    cursor: pointer;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.aw-team .aw-arrow.aw-arrow-left {
    right: 120%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.aw-team .aw-arrow.aw-arrow-right {
    left: 120%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.aw-team .aw-arrow:hover {
    border-color: #dca453;
}

/* Footer */

footer {
    padding: 10px 0;
    background: #444;
}

footer .aw-logo {
    width: 85px;
    height: 45px;
    font-size: 20px;
}

footer .aw-social-icons {
    display: flex;
    list-style-type: none;
}

footer .aw-social-icons li {
    margin-left: 15px;
}

footer .aw-social-icons li a {
    color: #fff;
    display: flex;
    -webkit-transition: opacity .35s ease;
    transition: opacity .35s ease;
}

footer .aw-social-icons li a:hover {
    opacity: .7;
}

/* Animations */
.aw-pulsate {
    -webkit-animation: pulsate 3s ease-in-out;
    -webkit-animation-iteration-count: infinite; /* Repeat all the time */
    opacity: 0.35;
}

@-webkit-keyframes pulsate {
    0%{
        opacity: .8;
    }
    50%{
        opacity: .1;
    }
    100%{
        opacity: .8;
    }
}


/* Responsive */

@media all and (max-width: 1020px) {

    .aw-container {
	    padding-left: 15px;
	    padding-right: 15px;
	}
}

@media all and (max-width: 820px) {
	
	h1 {
		font-size: 55px;
	}

    .aw-header-text .aw-arrow,
	.aw-team .aw-arrow {
	    padding: 15px;
	}

	.aw-team .aw-arrow.aw-arrow-right {
	    left: 100%;
	}

	.aw-team .aw-arrow.aw-arrow-left {
	    right: 100%;
    }
}

@media all and (max-width: 680px) {
    
    header nav {
    	position: absolute;
    }

    header nav.aw-nav-fixed {
    	background: none;
    }

    ul.aw-navigation {
    	list-style-type: none;
	    margin: 0;
	    padding: 0;
	    max-height: 0;
	    overflow: hidden;
	    background: rgba(0,0,0,.7);
	    -webkit-transition: max-height .4s ease;
	    transition: max-height .4s ease;
    }

    ul.aw-navigation.aw-navigation-opened {
    	max-height: 500px;
    	-webkit-transition: max-height 1s ease;
	    transition: max-height 1s ease;
    }

    ul.aw-navigation li {
        padding: 0 15px;
    }

    ul.aw-navigation li a {
    	display: block;
	    padding: 10px 0;
	    color: #fff;
	    border-bottom: solid 1px #999;
    }

    ul.aw-navigation li:first-child a {
    	padding-top: 20px;
    }

    ul.aw-navigation li:last-child a {
    	padding-bottom: 20px;
    	border-bottom: none;
    }

    header nav .aw-nav-toggle {
		display: block;
		color: #fff;
		font-size: 25px;
    }
    #aw-arrow-header {
        position: absolute;
        bottom: 25px;
    }
}

@media all and (max-width: 600px) {
    
    .aw-logo {
    	width: 85px;
	    height: 50px;
	    font-size: 25px;
    }

    h1, h3 {
    	font-size: 20px;
    }

    .aw-header-text .aw-arrow, 
    .aw-team .aw-arrow {
        padding: 10px;
    }

    #aw-about .aw-column {
	    width: 100%;
	}

	.aw-team {
		max-width: 80%;
	}

	.aw-team ul li > p {
	    font-size: 17px;
    }
    #aw-arrow-header {
        position: absolute;
        bottom: 25px;
    }
}

/* End of code by Justin Leach, 30091487 */